*{margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;list-style: none;}
.box{width: 100%;}
.kuang{width: 100%;height: 36px;background: #f8e3df;}
.auto{width: 1180px;margin: 0 auto;}
.left{width: 350px;height:36px;float: left;font-size: 13px;text-align: center;line-height:36px;}
.left a{width: 70px;margin: 0 2px;color: black;}
.fiveQ{width: 12px;height: 16px;float: left;background: url("../image/锁.png")no-repeat left;margin: 8px 10px;}
.right{width: 392px;height:36px;float: right;font-size: 13px;text-align: center;line-height:36px;position: relative;}
.right a{color: #333;}
.fiveF{width: 105px;height:34px;float: left;}
.fiveF:hover{background: #fff; border: 1px solid #fdb2a4; border-bottom: none;}
.five1-1{width: 240px;height:67px;border: 1px solid #fdb2a4;position:absolute;top: 34px;left: 0;background: white;border-top: none;display:none;z-index: 1;}
.fiveF:hover .five1-1{display: block;/*显示*/}

.five2{width: 68px;float: left;}
.five3{width: 73px;float: left;margin-left: 10px;}
.five3:hover{background: #fff;border: 1px solid #fdb2a4;border-bottom:none;}
.five3-1{width: 73px;border: 1px solid #fdb2a4;position:absolute;top: 34px;left: 183px;background: white;display:none;border-top: none;z-index: 1;}
.five3-1-a{width: 100%;height: 21px;line-height: 21px;display: block;
	color: #686767;padding-left: 6px;text-align: left;}
.five3-1-a:hover{color:red;}
.five3:hover .five3-1{display: block;}
.ncej{width: 5px;height: 4px;float: right;margin-top: 14px;margin-right:5px;background: url("../image/daosanjiao.png");}
.five4{width: 58px;float: left;margin-left:5px;}
.five5{width:58px;float: right;}
.five5:hover{background: #fff;border: 1px solid #fdb2a4;border-bottom:none;}
.five5-1{width:232px;height: 156px;border: 1px solid #fdb2a4;position:absolute;top: 34px;right: 0px;background: white;display:none;z-index: 1;}
.five5:hover .five5-1{display: block;}


/*第二个框*/
.erkuang{width: 100%;height: 95px;background:url("../image/beijin.jpg");background-size: 100% 100%;}
.erzuo{width:163px;height: 95px;float: left;}
.erzuo a{width: 128px;height: 28px;}
.IMG{margin-top: 35px;float:right;}
.eryou{width:295px ;height: 95px;float: right;}
.eryouxia{width: 100%;height: 60px;margin-top:30px;font-size: 12px;}
.xiazuo{width: 198px;height: 32px;float: left;border: #beb7b7 solid 1px;}
.xiazuo input{width:156px;height: 30px;float: left;color: #c7bebe;text-indent: 1em;border: none;}
.xiazuo.Shou{width: 30px;height: 32px;float:right;float: }
.xiayou{width: 80px;height: 32px;float: right;border: #beb7b7 solid 1px;background:white;color:#666666;
text-align: center;line-height: 32px;}
.xiayou a:hover{color: red;}
/*第三个框*/
.sankuang{width: 100%;height: 600px;}
.shopcar_bg{width: 100%;height: auto;margin: 0 auto;background: #ffffff;overflow: hidden;display: block;}
.shopcar_title{width: 1180px;height: 38px;margin: 0 auto;overflow: hidden;
	clear: both;padding: 11px 0;}
.shopcar_content {width: 1180px;height: auto;margin: 0 auto;clear: both;background: #fff;}
.shopcarbgpic {width: 1180px;height: 431px;margin: 0 auto;position: relative;overflow: hidden;
    clear: both;background: url(../image/购车车三图片.jpg) no-repeat center top;border-top: 1px solid #000;}
.shopcar_content_no_pic_1_border {width: 320px;height: 200px;float: right;margin-right: 130px;
	margin-top: 135px;position: relative;text-align: center;font-size: 12px;}
.shopcarspan2 {width: 100%;display: inline-block;color: #333;font-family: Arial,"宋体";
    text-align: center;margin-top: 12px;font-size: 12px;}
.btn_pink_126x34hover{padding: 10px 50px;width: 126px;height:34px;background: #feb8ae;color: #333;text-decoration: none;}


/*登录部分*/
.Dengbt{width: 366px;height: 348px;background:#fcedea;margin-right: 69px;}
.denglu{width: 366px;height: 210px;position: relative;}
.denglu1{width: 283px;height: 36px;position: absolute;top:44px;left: 45px;text-indent: 1em;}
.denglu2{width: 283px;height: 34px;position: absolute;top:102px;left: 45px;text-indent: 1em;}
.denglu3{font-size: 16px;}
.denglu3-1{color: #6666;float: right;position: absolute;top: 153px;right:38px;color: #666;}
.denglu3-2{width:100px;height:34px;float:left;position: absolute;top: 153px;left: 45px;color: #666;}
.dengluL{width: 283px;height: 36px;position: absolute;top:189px;left: 45px;border:none;color: white;background: #ff8a81;}
/*登录合作网站*/
.qita{width:366px;height:136px;}
.qitaB{width:283px;height: 75px;margin-left:45px;z-index: 1;text-align: center;line-height: 75px;color: #9f9691;}
.qita1{width: 283px;height: 46px;margin-left:45px;}
.qita11{width: 46px;height: 46px;border-radius: 50%;background:url("../image/qq.jpg");float: left;}
.qita12{width: 46px;height: 46px;border-radius: 50%;background:url("../image/w.jpg");;float: left;margin-left: 35px;}
.qita13{width: 46px;height: 46px;border-radius: 50%;background:url("../image/weibo.jpg");;float: left;margin-left: 35px;}
.qita14{width: 46px;height: 46px;border-radius: 50%;background:url("../image/zhifubao.jpg");;float: right;}

/*最后一个大框*/
.shisi{width: 100%;height: 550px;background:#fdf2ec;}
.shisishang{width: 100%;height: 66px;}
.shangkuang1{width: 201px;height: 66px;float: left;background:url("../image/yipaidu.jpg");}
.shangkuang2{width: 195px;height: 66px;float: left;background:url("../image/yipaidu.jpg");background-position:-201px 0;}
.shangkuang3{width: 227px;height: 66px;float: left;background:url("../image/yipaidu.jpg");background-position:-396px 0;}
.shangkuang4{width: 197px;height: 66px;float: left;background:url("../image/yipaidu.jpg");background-position:-623px 0;}
.shangkuang5{width: 198px;height: 66px;float: left;background:url("../image/yipaidu.jpg");background-position:-820px 0;overflow: hidden;}
.shangkuang6{width: 162px;height: 66px;float: left;background:url("../image/yipaidu.jpg");background-position:-1018px 0;overflow: hidden;}
/*第二个*/
.shisizhong{width: 100%;height: 160px;}
.Lleft{width: 85px;height: 90px;background:url("../image/logo.jpg");float: left;margin-left:30px;margin-top: 44px;}
.Lcenter{width: 720px;height: 110px;float: left;margin-left:82px;margin-top: 37px;}
.Ul{width: 144px;height: 123px;float: left;}
.Ul li span{width: 96px;height: 23px;color: #666666;font-size: 12px;text-align: left;}
.Ul li a{width: 96px;line-height: 22px;color: #999999;text-align: left;font-size: 12px;}
.Ul li a:hover{color: red;}
.U2{width: 144px;height: 103px;float: left;}
.U2 li span{width: 96px;height: 23px;color: #666666;font-size: 12px;text-align: left;}
.U2 li a{width: 96px;line-height: 22px;color: #999999;text-align: left;font-size: 12px;}
.U2 li a:hover{color: red;}
.Llast{width: 214px;height: 120px;float: right;margin-top: 30px;margin-left: 6px;background: url("../image/erweima.jpg") no-repeat;position: relative;
}
/*电话框*/
.Sank{width: 100%;height: 102px;padding: 21px 0;}
.Sankd{width: 488px;height: 60px;background:url("../image/dianhua.jpg");margin-left: 365px;display: block;}
/*两排的服务及赞助*/
.wangzhan{width: 100%;height: 36px;color: #999;font-size: 12px;overflow: hidden;margin: 0 auto;line-height: 36px;text-align: center;}
.wangzhan a{line-height: 33px;margin: 0;padding: 0;color: #999;font-size: 12px;}
.wangzhan a:hover{color: red;}
.wangzhan span{padding: 0 8px 0 10px;}
.Shang{width: 100%;height: 14px;text-align: center;color: #999;font-size: 12px;}
/*滚动部分*/
.xiagd{width: 950px;height: 25px;margin: 0 auto;text-align: center;line-height:25px;color: #999;font-size: 12px;overflow: hidden;}
.xiagd li a{font-size: 12px;color: #999;}
.xiagd li a:hover{color: red;}
.xiagd li span{padding: 0;}
/*底下五个图标*/
.Xt{width: 572px;height: 35px;margin: 13px auto;}
.T3{width:110px ;height: 35px;float: left;}
.T2{width:116px ;height: 35px;float: left;}
.T1{width:115px ;height:35px;float: left;}
